div[class*="ControlButton-module_popper"] {
  display: none!important;
}

div[class*="DefaultUI-module_container"] {
  border-radius: 8px!important;
}

.iframe {
  border: 0px;
  border-radius: 8px;
}

div[class*="MobileVolumeSlider-module_container"] {
  display: none!important;
}

div[class*="ProgressSlider-module_playBar"], div[class*="ProgressSlider-module_dot"], div[class*="VolumeButton-module_mainBar"], div[class*="VolumeButton-module_dot"], div[class*="MobileVolumeSlider-module_slider"] {
  background-color: var(--orange)!important;
}

div[class*="ProgressSlider-module_playBar"], div[class*="ProgressSlider-module_bufferBar"], div[class*="ProgressSlider-module_backgroundBar"], div[class*="ProgressSlider-module_hoverBar"], div[class*="ProgressSlider-module_innerContainer"], div[class*="VolumeButton-module_sliderContainer"], div[class*="VolumeButton-module_mainBar"], div[class*="VolumeButton-module_backgroundBar"] {
  border-radius: 10px!important;
}

div[class*="MobileVolumeSlider-module_sliderContainer"] {
  background-color: #333!important;
}

div[class*="Subtitle-module_container"] {
  bottom: 5rem!important;
  width: 60%!important;
  margin-bottom: 10px!important;
}

div[class*="Subtitle-module_interacting"] {
  bottom: 6rem!important;
}

div[class*="DefaultUI-module_container"] > div[class*="Subtitle-module_an8Style"] {
  top: 50px!important;
}

p[class*="NestedMenu-module_subMenuSlotTitle"] > span {
  justify-content: flex-end;
}

p[class*="NestedMenu-module_baseItemTitle"], p[class*="NestedMenu-module_subMenuSlotTitle"] > span > p {
  text-overflow: ellipsis;
  text-align: left;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-break: anywhere;
}

p[class*="NestedMenu-module_baseItemTitle"] img {
  opacity: 0.1;
  margin-right: 0px!important;
  right: 35px;
  position: absolute;
  scale: 5;
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(41, 41, 41) 50%);
}

li[class*="NestedMenu-module_baseItem"]:has(div[class*="NestedMenu-module_activeIconContainer"]) p[class*="NestedMenu-module_baseItemTitle"] img {
  opacity: 0.5;
}

p[class*="NestedMenu-module_subMenuSlotTitle"] img {
  opacity: 0.5;
  border-radius: 5px;
}

div[class*="NestedMenu-module_container"]::-webkit-scrollbar, div[class="plyr__menu__container"] > div > div::-webkit-scrollbar, div[id="disqus_thread"]::-webkit-scrollbar  {
  width: 5px!important;
  height: 10px!important;
}

div[class*="NestedMenu-module_container"]::-webkit-scrollbar-track, div[class="plyr__menu__container"] > div > div::-webkit-scrollbar-track, div[id="disqus_thread"]::-webkit-scrollbar-track {
  background: var(--black)!important;
  border-radius: 5px!important;
}

div[class*="NestedMenu-module_container"]::-webkit-scrollbar-thumb, div[class="plyr__menu__container"] > div > div::-webkit-scrollbar-thumb, div[id="disqus_thread"]::-webkit-scrollbar-thumb {
background: var(--orange)!important;
border-radius: 5px!important;
}

div[class*="NestedMenu-module_container"]::-webkit-scrollbar-thumb:hover, div[class="plyr__menu__container"] > div > div::-webkit-scrollbar-thumb:hover, div[id="disqus_thread"]::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 163, 26, 0.75)!important;
}

div[class*="DefaultUI-module_controlsContainer"] {
  bottom: -2px!important;
}

div[class*="index-module_modal"] {
  inset: revert!important;
  position: relative!important;
  width: 100%!important;
}

div[class*="index-module_modalOverlay"], h2[class*="index-module_modalHeading"] {
  display: none!important;
}

div[class*="index-module_modalContainer"] {
  background-color: var(--black)!important;
  max-width: none!important;
  padding: 10px!important;
}

span[class*="index-module_modalTitle"] {
  font-size: 12px!important;
}

input[class*="index-module_modalInput"] {
  width: 100%!important;
  border: 0px!important;
  text-align: center!important;
  color: var(--grey)!important;
  font-weight: bold!important;
  background-color: var(--darkBlack)!important;

}

div[class*="index-module_modalControl"] {
  margin-top: 10px!important;
}

div[class*="index-module_modalControl"] > button {
  width: 30px !important;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
}

div[class*="index-module_modalControl"] > button:hover {
  background-color: rgba(128, 128, 128, 0.16) !important;
  border-radius: 50% !important;
}

div[class*="index-module_modalButtons"] {
  margin-top: 10px!important;
  justify-content: center!important;
}

button[class*="index-module_modalButtonApply"] {
  background-color: var(--darkBlack)!important;
  border-radius: 8px!important;
  color: var(--white)!important;
}


div[class*="NestedMenu-module_container"] {
  background-color: #1b1b1be6!important;
  border-radius: 10px!important;
  padding: 0px!important;
  overflow-x: hidden!important;
  width: 22rem!important;
}

ul[class*="NestedMenu-module_itemContainer"] {
  padding: 0.5rem!important;
}


div[class*="NestedMenu-module_activeIconContainer"] {
  color: var(--orange)!important;
}

div[class*="Controls-module_container"] {
  background-image: none!important;
  background-color: #292929e6!important;
  padding: 0.5rem 1rem 1rem 1rem!important;
}

div[class*="ProgressSlider-module_desktop"] {
  height: 8px!important;
}

div[class*="ProgressSlider-module_innerContainer"] {
  height: 5px!important;
}

div[class*="ProgressSlider-module_innerContainer"]:hover {
  height: 8px!important;
}

div[class*="ProgressSlider-module_dot"] {
  width: 15px!important;
  height: 15px!important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 8px 1px !important
}

div[class*="VolumeButton-module_dot"] {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 8px 1px !important
}

div[class*="Indicator-module_indicator"] {
  background-color: var(--black)!important;
}

button[class*="ControlButton-module_controlButton"]:hover {
  background-color: rgba(128, 128, 128, 0.16)!important;
  border-radius: 50%!important;
}

div[class*="MobileControls-module_fullscreenButton"] {
  height: 1.5rem!important;
  width: 1.5rem!important;
}

div[class*="ControlButton-module_popper"] > p {
  background-color: var(--darkBlack)!important;
  border-radius: 8px!important;
}

div[class*="ProgressSlider-module_hoverTime"] {
  background-color: var(--darkBlack)!important;
  border-radius: 8px!important;
}

li[class*="NestedMenu-module_baseItem"] {
  padding: 0.8rem!important;
  border-radius: 8px!important;
  position: relative;
  overflow: hidden;
}

li[class*="NestedMenu-module_baseItem"]:hover {
  padding: 0.8rem!important;
  border-radius: 8px!important;
  background-color: var(--black)!important;
}

div[class*="NestedMenu-module_goBackButton"] {
  border-radius: 8px 8px 0px 0px!important;
  background-color: var(--black)!important;
  position: sticky!important;
  top: 0!important;
  z-index: 1!important;
  margin-bottom: 0px!important;
  padding: 1rem 0.5rem!important;
  box-shadow: 0 1px 8px rgba(0,0,0,.16)!important;
}

div[class*="NestedMenu-module_goBackButton"]:hover {
  background-color: var(--orange)!important;
  color: var(--darkBlack)!important;
}

p[class*="NestedMenu-module_subMenuSlotTitle"] {
  text-overflow: ellipsis!important;
  width: 150px!important;
  white-space: normal!important;
  overflow: hidden!important;
  display: -webkit-box!important;
  -webkit-line-clamp: 1!important;
  -webkit-box-orient: vertical!important;
  line-break: anywhere!important;
  text-align: right!important;
  color: var(--grey)!important;
}

div[class*="Controls-module_rightButtonContainer"] > div:nth-last-child(4), div[class*="Controls-module_rightButtonContainer"] > div:nth-last-child(3), div[class*="MobileOverlay-module_mobileTopButtons"] > button {
  display: none;
}

p[class*="Subtitle-module_text"] {
  border-radius: 8px!important;
}